<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android11latamcompose">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android11LATAMCompose">

        <activity
            android:name=".sections.detail.PlantDetailActivity"
            android:theme="@style/Theme.Android11LATAMCompose.NoActionBar" />

        <activity
            android:name=".sections.list.PlantsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android11LATAMCompose.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>